@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(67, 192, 191), rgb(201, 123, 124));;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
	cursor: pointer;
}


html, body, #root, .App {
  height: 100%;
}

.App {
  display:flex;
  flex-direction: column;
}
